@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/fondo3.jpg);
  background-size: cover;
}

h1,
h2 {
  
  color: white;
  font-family: "gandhi";
  text-shadow: -1px -1px 1px black, 0px 4px 9px rgba(0, 0, 0, 0.9),
    4px 4px 5px rgba(0, 0, 0, 0.9), 0px 0px 7px rgba(0, 0, 0, 0.9);
}
h2 {
  font-size: 1.2rem;
  font-style: italic;
}
.loge {
  display: flex;
  justify-content: center;
  width: 9em;
  margin: 2rem;
}
.logoG {
  width: 10em;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.logoG{
  display: flex;
  flex-direction: center;
  height: 50px;
  width: 250px;
  border: none;
  color: white;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsHome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  margin: 0% 40% 2% 40%;
  background-color: #25130f;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.buttons:hover {
  background-color: #a07f6d;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  margin: 0% 40% 2% 40%;
  background-color: #25130f;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}