@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/fondo3.jpg);
  background-size: cover;
}
h1,
h2 {

  color: white;
  font-family: "gandhi";
  text-shadow: -1px -1px 1px black, 0px 4px 9px rgba(0, 0, 0, 0.9),
    4px 4px 5px rgba(0, 0, 0, 0.9), 0px 0px 7px rgba(0, 0, 0, 0.9);
}
h2 {
  font-size: 1.2rem;
  font-style: italic;
}
.loge {
  width: 100px;
}

.buttonsHome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  margin: 0.3rem;
  background-color: #25130f;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.buttons:hover {
  background-color: #a07f6d;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  background-color: #25130f;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0.3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  background-color: #a07f6d;
  opacity: 50%;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  margin: 0.3rem;
  text-align: center;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.wallDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}