@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
body {
  background-image: url(images/fondo3.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
h1,
h2 {
  color: white;
  font-family: "gandhi";
  text-shadow: -1px -1px 1px black, 0px 4px 9px rgba(0, 0, 0, 0.9),
    4px 4px 5px rgba(0, 0, 0, 0.9), 0px 0px 7px rgba(0, 0, 0, 0.9);
}
h2 {
  font-size: 1.2rem;
  font-style: italic;
}

header {
  font-family: "PT Sans";
  font-size: x-large;
}
footer {
}
.loge {
  width: 100px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin: 0% 40% 2% 40%;
  background-color: #25130f;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.buttons:hover {
  background-color: #a07f6d;
}
.buttonGoogle {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin: 5% 40% 0 40%;
  background-color: #4285f4;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.buttonGoogle:hover {
  background-color: rgb(146, 168, 243);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin: 0% 40% 2% 40%;
  background-color: #a07f6d;
  opacity: 50%;
  height: 50px;
  width: 250px;
  border-radius: 8px;
  border: none;
  color: white;
}
#root {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
